.task-container {
	background-color: #fff;
	margin: 8px 0;
	padding: 15px 20px;
	display: flex;
	border-radius: 5px;
	justify-content: space-between;
	color: #000;
	align-items: center;
}

.task-title {
	cursor: pointer;
}

.buttons-container {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.remove-task-button,
.info-task-button {
	background-color: #fff;
	border: none;
	font-size: 24px;
	color: #AF02EB;
	margin: 0 5px;
}

.remove-task-button:hover,
.info-task-button:hover {
	color: rgb(77, 153, 0);
}